{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Python Pro</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <meta name="description" content="Página do curso Python Pro">
    <meta name="author" content="Marqueane Carvalho">

	<link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}"/>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>

  </head>
  <body>

<!--  NAVBAR-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-5">
	  <div class="container-fluid">
		  <a class="navbar-brand custom-navbar-brand" href="{% url 'home' %}">P Y T H ON</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				  aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
				  <li class="nav-item">
					  <a class="nav-link active" aria-current="page" href="#">Home</a>
				  </li>
				  <li class="nav-item">
					  <a class="nav-link" href="#">Link</a>
				  </li>
				  <li class="nav-item dropdown">
					  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
						 aria-expanded="false">
						  Dropdown
					  </a>
					  <ul class="dropdown-menu">
						  <li><a class="dropdown-item" href="#">Action</a></li>
						  <li><a class="dropdown-item" href="#">Another action</a></li>
						  <li>
							  <hr class="dropdown-divider">
						  </li>
						  <li><a class="dropdown-item" href="#">Something else here</a></li>
					  </ul>
			  </ul>
		  </div>
	  </div>
  </nav>

<!--COLUNAS A-->
<div class="container-fluid">
    <div class="row align-items-start">
        <div class="col ms-5 mt-5 mb-5">
            <p class="text-start fs-4 font-monospace mb-4 fw-semibold text-warning">
                Olá!
            </p>

            <p class="text-start fs-2 font-monospace m-0 fw-semibold">
                Eu sou o Luciano Ramalho
            </p>

            <p class="text-start fs-6 font-monospace lh-3 fw-medium">
                Sócio e professor na <a href="https://www.python.pro.br">Python Pro</a> e autor do Livro
                Python Fluente.
            </p>

            <p class="text-start">
                <i class="fa-brands fa-twitter m-2"></i>
                <a href="#"></a>

                <i class="fa-brands fa-instagram m-2"></i>
                <a href="#"></a>

                 <i class="fa-brands fa-facebook m-2"></i>
                 <a href="#"></a>

                 <i class="fa-brands fa-linkedin m-2"></i>
                 <a href="#"></a>
           </p>

        </div>

		<div class="col mt-5">

			<div class="card-body">
				<p class="card-text">
					<img src="{% static 'img/python.jpg' %}" alt="Foto um cartão com o nome python"
						 class="img-thumbnail float-md-start m-0"/>
			</div>
		</div>
	</div>

<!--JUMBOTRON-->
<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">

				<div class="jumbotron p-3 mb-2 mt-2 text-dark" style="background-color:#C0D6DF">


					<h2>
						Curso de Python
					</h2>
					<p>
						Mussum Ipsum, cacilds vidis litro abertis. Copo furadis é disculpa de bebadis, arcu quam euismod
						magna. Aenean aliquam molestie leo, vitae iaculis nisl. Nullam volutpat risus nec leo commodo,
						ut
						interdum diam laoreet. Sed non consequat odio. Admodum accumsan disputationi eu sit. Vide
						electram
						sadipscing et per.
						<a href="https://www.amazon.com/_/dp/1491946008?tag=oreilly20-20" target="_blank">Python
							Fluente</a>
					</p>

				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="card">

							<h5 class="card-header">
								Mais detalhes sobre o instrutor
							</h5>

							<div class="card-body">
								<p class="card-text">
									<img src="{% static 'img/luciano-ramalho.png' %}" alt="Foto de Luciano Ramalho"
										 class="img-thumbnail float-md-start me-3"/>


									Foi diretor técnico do Brasil Online, primeiro portal da Abril S/A na Web.
									Liderou times para os portais IDG Now, BOL, UOL, AOL
									Brasil e outros, usando Python
									desde 1998.
									Como instrutor, atendeu clientes como Citibank, CPqD, Serpro, Presidência da
									República,
									Globo.com e Itaú.
									Palestrante em eventos internacionais como FISL, PyCon US e OSCON. Ajudou a criar a
									Associação Python Brasil e foi seu presidente.
									É membro da Python Software Foundation e fundador do Garoa Hacker Clube, o primeiro
									hackerspace do Brasil.

								</p>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<!--FOOTER-->
<footer class="main-footer mt-5 pt-3 text-light">

	<div class="container">
		<div class="row">
			<div class="col">
				<h3>Entre em Contato</h3>
				<address>
					+55 11 977-411-589
					<br/>
					<a href="mailto:marqueane@hotmail.com" class="text-light">marqueane@hotmail.com</a>
				</address>
			</div>
		</div>
	</div>

	<div class="rights pb-4">
		<div class="container">
			<div class="row">
				<div class="col">
					{% now "Y" %} Python Pro. Todos os direitos reservados.
				</div>
			</div>
		</div>
	</div>


</footer>


  </body>
</html>